<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Catálogo - FERREMAS</title>
    <link rel="stylesheet" href="/static/css/catalog.css">
</head>

<body>
    <button onclick="history.back()">⬅ Volver</button>

    <h1>Catálogo de Productos</h1>

    <!-- Botón para agregar producto (solo admin o vendedor) -->
    <div id="agregar-producto">
        {{btn_add_product}}
    </div>

    <div id="catalogo">
        <!-- Aquí se insertarán los productos -->
        {{productos}}
    </div>
</body>

</html>

